# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
staticfiles/
media/
*.log

# Virtual environment
venv/
ENV/
env/

# VS Code
.vscode/

# Environment variables
.env

# OS
Thumbs.db
.DS_Store
